*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  color: #777;
  padding: 1rem;
  box-sizing: border-box;
}

@import "abstract/mixins";
@import "abstract/variables";

@import "layout/grid";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "pages/home";

@import "components/primary-btn";
@import "components/secondary-btn";
@import "components/composition";
@import "components/feature-box";
@import "components/card";
@import "components/story";
@import "components/bg-video";