@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
/*
0 - 600px: Phone
600px - 900px: Tablet
900px - 1200px: Tablet landscape
1200px - 1800px: Is where oir normal styles apply
1800px + : Big desctop
*/
/*
$breakpoint argument choises:
- phone
- tab-port
- tab-land
- big-desctop
ORDER: Base + typography > general layout + grid > page layout > components
*/
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.u-center-text {
  text-align: center; }

.u-mb-1 {
  margin-bottom: 1rem !important; }

.u-mb-2 {
  margin-bottom: 2rem !important; }

.u-mb-3 {
  margin-bottom: 3rem !important; }

.u-mt-3 {
  margin-top: 3rem !important; }

.u-mt-5 {
  margin-top: 5rem !important; }

.u-fl {
  float: left !important; }

.u-btn {
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 50px;
  position: relative;
  top: 0px;
  box-shadow: 0px 4px; }
  .u-btn:hover {
    box-shadow: 0px 2px;
    top: 2px; }
  .u-btn:active {
    box-shadow: 0px 0px;
    top: 4px; }

.u-btn-white {
  background-color: #f2f2f2;
  color: #636363; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-block;
  color: #545454;
  letter-spacing: .1rem;
  font-family: "Open Sans", sans-serif; }

.heading-secondary {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: #545454;
  letter-spacing: .1rem;
  font-family: "Quicksand", sans-serif; }

.paragraph {
  font-size: 1rem;
  color: #545454; }
  .paragraph:not(:last-child) {
    margin-bottom: 1rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 1rem; }
  @media (max-width: 37.5rem) {
    html {
      font-size: 80%; } }
  @media (max-width: 56.25rem) {
    html {
      font-size: 80%; } }
  @media (max-width: 75rem) {
    html {
      font-size: 90%; } }
  @media (min-width: 112.5rem) {
    html {
      font-size: 120%; } }

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #ededed; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.hero {
  background-image: url(../img/main.jpg);
  background-size: cover;
  min-height: 100.3vh;
  margin-top: -4.1rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .hero-content {
    animation-name: moveInBottom;
    animation-duration: 1s; }
    .hero-content h1 {
      color: #f2f2f2;
      font-size: 3rem; }
    .hero-content h3 {
      color: #f2f2f2;
      font-size: 1.5rem;
      font-weight: 400; }

.destinations {
  padding-bottom: 5rem; }
  .destinations-description {
    width: 70%;
    margin: 0 auto; }

.trips-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .trips-list__item {
    flex-basis: 40%;
    padding: 1rem 0; }
    .trips-list__item i {
      display: block;
      color: #3D68AC;
      margin-bottom: .5rem; }

.trips-description {
  width: 70%;
  margin: 0 auto; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  color: #f2f2f2;
  font-family: "Quicksand", sans-serif; }
  .header-navigation__list {
    display: flex;
    list-style: none;
    align-items: center; }
  .header-navigation__list-item {
    padding: 0 1rem; }
  .header-navigation__link {
    display: inline-block;
    color: #f2f2f2;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s; }
    .header-navigation__link:hover {
      color: #081D4A;
      transform: scale(1.2) rotate(4deg); }

.photos-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between; }
  .photos-list__item {
    width: 350px;
    height: 300px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover; }
    .photos-list__item_small {
      flex: 0 0 35%; }
    .photos-list__item_big {
      flex: 0 0 65%; }
    .photos-list__item_1 {
      background-image: url(../img/mountain1.jpg); }
    .photos-list__item_2 {
      background-image: url(../img/mountain2.jpg); }
    .photos-list__item_3 {
      background-image: url(../img/mountain3.jpg); }
    .photos-list__item_4 {
      background-image: url(../img/mountain4.jpg); }
