.card {
  perspective: 150rem;
  height: 30rem;

  @include respond(tab-port) {
    width: 70%;
    height: 45rem;
    margin: 0 auto;
  }

  @include respond(tab-land) {

  }

  @include respond(phone) {
    width: 100%;
    height: 45rem;
  }

  &__side {
    height: 30rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 1rem 2.5rem rgba($color-grey-dark, 0.4);

    @include respond(tab-land) {
      height: 30rem;
    }
    
    @include respond(tab-port) {
      height: 45rem;
    }

    &_back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }
    }
  }

  &:hover &__side_front {
    transform: rotateY(-180deg);
  }

  &:hover &__side_back {
    transform: rotateY(0);
  }

  // FRONT SIDE STYLING
  &__image {
    background-size: cover;
    height: 15rem;
    border-radius: 5px 5px 0 0;
    background-blend-mode: color;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);

    @include respond(tab-port) {
      height: 30rem;
      clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    }

    &_picture-1 {
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),url('../img/nat-5.jpg');
    }

    &_picture-2 {
      background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url('../img/nat-6.jpg');
    }

    &_picture-3 {
      background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url('../img/nat-7.jpg');
    }
  }

  &__heading {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    text-align: right;
    top: 7rem;
    right: 1rem;
    width: 50%;
    line-height: 1.75;

    @include respond(tab-port) {
      font-size: 1.4rem;
      top: 18rem;
    }
  }

  &__heading_span {
    padding: .3rem .7rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;

    &-1 {
      background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .8), rgba($color-secondary-dark, .8));
    }

    &-2 {
      background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8));
    }

    &-3 {
      background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .8), rgba($color-tertiary-dark, .8));
    }
  }

  &__list {
    list-style: none;
    width: 80%;
    margin: 0 auto;
  }

  &__item {
    text-align: center;
    font-size: 1rem;
    padding: .5rem;

    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }

    @include respond(tab-port) {
      font-size: 1.2rem;
    }
  }

  // BACK SIDE STYLING

  .card__cta {
    margin: 8rem auto 5rem auto;
    text-align: center;
    text-transform: uppercase;

    @include respond(tab-port) {
      margin-top: 16rem;
    }
  }

  &__price-box {
    font-size: 1.2rem;
    color: #fff;
  }

  &__price_value {
    font-size: 3rem;
    font-weight: 200;
  }
}
