.primary-btn {
  display: block;
  width: 230px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0.8rem;
  text-decoration: none;
  border-radius: 1.6rem;
  border: none;
  text-transform: uppercase;
  text-align: center;
  animation: moveInBottom;
  animation-duration: 1s;
  transition: all 0.2s;
  // position: relative;
  color: $color-grey-dark;
  background-color: #fff;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}

.primary-btn_small {
  width: 150px;
  padding: .6rem;
}

.primary-btn_green {
  background-color: $color-primary-dark;
  color: #fff;
}