*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 1rem;

  @include respond(phone) {
    font-size: 80%;
  }

  @include respond(tab-port) {
    font-size: 80%;
  }

  @include respond(tab-land) {
    font-size: 90%;
  }

  @include respond(big-desktop) {
    font-size: 120%;
  }
}

body {
  box-sizing: border-box;
  font-family: $font1;
  background-color: #ededed;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width:576px) {
  .container {
    max-width: 540px
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px
  }
}

.description {
  width: 70%;
  margin: 0 auto;

  @include respond(tab-port) {
    width: 100%;
  }
}

.hero {
  background-image: url(../img/main.jpg);
  background-size: cover;
  min-height: 100.3vh;
  margin-top: -4.1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &-content {
    animation-name: moveInBottom;
    animation-duration: 1s;

    h1 {
      color: $white;
      font-size: 3rem;

      @include respond(tab-port) {
        font-size: 1.5rem;
      }
    }

    h3 {
      color: $white;
      font-size: 1.5rem;
      font-weight: 400;

      @include respond(tab-port) {
        font-size: 1.2rem;
      }
    }
  }
}

.destinations {
  padding-bottom: 5rem;

  @include respond(tab-port) {
    .heading-secondary {
      font-size: 1.5rem;
    }
  }
}

.trips {
  padding: 2rem;
  padding-top: 0;

  &-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      flex-basis: 40%;
      padding: 1rem 0;

      @include respond(tab-port) {
        flex-basis: 100%;
      }

      i {
        display: block;
        color: #3D68AC;
        margin-bottom: .5rem;
      }
    }
  }
}

.learn-more {
  background-color: $white;
  padding: 4rem;

  .newsletter {
    &__input {
      padding: .9rem;
      width: 50%;
      border: 1px solid $light-blue;

      @include respond(phone) {
        width: 100%;
      }
    }

    @include respond(phone) {
      button {
        margin-top: 2rem;
        width: 60%;
      }
    }
  }
}