.u-center-text {
  text-align: center;
}

.u-mb-1 {
  margin-bottom: 1rem !important;
}

.u-mb-2 {
  margin-bottom: 2rem !important;
}

.u-mb-3 {
  margin-bottom: 3rem !important;
}

.u-mt-3 {
  margin-top: 3rem !important;
}

.u-mt-5 {
  margin-top: 5rem !important;
}

.u-fl {
  float: left !important;
}

.u-ml-1 {
  margin-left: 1rem !important;
}

.u-btn {
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  top: 0px;
  border: 0;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    background-color: $dark-blue;
  }
}

.u-btn-white {
  background-color: $white;
  color: $grey;

  &:hover {
    color: $white;
  }
}

.u-btn-blue {
  background-color: $light-blue;
  color: $white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.u-breakline {
  width: 30%;
  height: 3px;
  background-color: $light-blue;
  margin: 0 auto;
}