*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  color: #777;
  padding: 1rem;
  box-sizing: border-box; }

.container {
  max-width: 71.25rem;
  margin: 0 auto; }

.row:not(:last-child) {
  margin-bottom: 4rem; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.row .col-1-of-2 {
  width: calc((100% - 3rem) / 2);
  float: left; }
  .row .col-1-of-2:not(:last-child) {
    margin-right: 3rem; }

.row .col-1-of-4 {
  width: calc((100% - 3rem * 3) / 4);
  float: left; }
  .row .col-1-of-4:not(:last-child) {
    margin-right: 3rem; }

.row .col-2-of-4 {
  width: calc((100% - 3rem) / 2);
  float: left; }
  .row .col-2-of-4:not(:last-child) {
    margin-right: 3rem; }

.row .col-3-of-4 {
  width: calc( (((100% - 3rem * 3) / 4) * 3) + 3rem * 2);
  float: left; }
  .row .col-3-of-4:not(:last-child) {
    margin-right: 3rem; }

.row .col-1-of-3 {
  width: calc((100% - 3rem * 2) / 3);
  float: left; }
  .row .col-1-of-3:not(:last-child) {
    margin-right: 3rem; }

.row .col-2-of-3 {
  width: calc((100% - (100% - 3rem * 2) / 3) - 3rem);
  float: left; }
  .row .col-2-of-3:not(:last-child) {
    margin-right: 3rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading-secondary {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(40, 180, 133, 0.8);
    cursor: default; }

.heading-tertiary {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: #777;
  letter-spacing: .1rem; }

.paragraph {
  font-size: 1rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 1rem; }

.u-center-text {
  text-align: center; }

.u-center-block-w-9 {
  display: block !important;
  margin: 0 auto;
  width: 9rem; }

.u-mb-1 {
  margin-bottom: 1rem !important; }

.u-mb-3 {
  margin-bottom: 3rem !important; }

.u-mb-4 {
  margin-bottom: 4rem; }

.u-mt-5 {
  margin-top: 5rem !important; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%); }
  .header .header__logo-box {
    padding: 3rem 0 0 3rem; }
  .header .header__logo-box-img {
    height: 2rem; }
  .header .header__primary-title {
    margin: 16vh auto 0 auto;
    text-align: center;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1; }
    .header .header__primary-title .header__primary-title_main {
      display: block;
      font-size: 2.5rem;
      letter-spacing: 2rem;
      animation: moveInLeft;
      animation-duration: 1s; }
    .header .header__primary-title .header__primary-title_sub {
      display: inline-block;
      font-size: 1rem;
      letter-spacing: 0.82rem;
      animation: moveInRight;
      animation-duration: 1s;
      margin-left: -16px; }

.section-about {
  background-color: #f7f7f7;
  padding-top: 10rem;
  padding-bottom: 20rem;
  margin-top: -20vh; }

.section-features {
  padding-top: 17rem;
  padding-bottom: 15rem;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
  margin-top: -35vh; }

.section-tours {
  background-color: #fff;
  padding-top: 5rem;
  padding-bottom: 4rem;
  margin-top: -10vh; }

.section-stories {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem; }

.primary-btn {
  display: block;
  width: 230px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0.8rem;
  text-decoration: none;
  border-radius: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  animation: moveInBottom;
  animation-duration: 1s;
  transition: all 0.2s;
  color: #777;
  background-color: #fff; }
  .primary-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .primary-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.primary-btn_small {
  width: 150px;
  padding: .6rem; }

.primary-btn_green {
  background-color: #28b485;
  color: #fff; }

.secondary-btn {
  color: #55c57a;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  font-size: 1.2rem;
  transition: .2s;
  display: inline-block;
  margin-top: 1rem; }
  .secondary-btn:hover {
    color: #f7f7f7;
    background-color: #55c57a;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1rem 2.5rem rgba(119, 119, 119, 0.4);
    border-radius: 3px;
    position: absolute;
    transition: all .4s;
    outline-offset: 1rem; }
    .composition__photo:hover {
      outline: 1rem solid #55c57a;
      transform: scale(1.05);
      box-shadow: 0 1rem 3.5rem rgba(119, 119, 119, 0.5);
      z-index: 10; }
  .composition__photo_p1 {
    left: 0;
    top: -2rem; }
  .composition__photo_p2 {
    right: 0;
    top: 1rem; }
  .composition__photo_p3 {
    left: 20%;
    top: 7rem; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(247, 247, 247, 0.8);
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1rem 3rem rgba(119, 119, 119, 0.15);
  transition: all .2s; }
  .feature-box__icon {
    font-size: 5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-7px); }

.card {
  perspective: 150rem;
  height: 29rem; }
  .card__side {
    height: 29rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 1rem 2.5rem rgba(119, 119, 119, 0.4); }
    .card__side_back {
      transform: rotateY(180deg); }
      .card__side_back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side_back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side_back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side_front {
    transform: rotateY(-180deg); }
  .card:hover .card__side_back {
    transform: rotateY(0); }
  .card__image {
    background-size: cover;
    height: 15rem;
    border-radius: 5px 5px 0 0;
    background-blend-mode: color;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%); }
    .card__image_picture-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg"); }
    .card__image_picture-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-6.jpg"); }
    .card__image_picture-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg"); }
  .card__heading {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    text-align: right;
    top: 7rem;
    right: 1rem;
    width: 50%;
    line-height: 1.75; }
  .card__heading_span {
    padding: .3rem .7rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading_span-1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
    .card__heading_span-2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
    .card__heading_span-3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__list {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
  .card__item {
    text-align: center;
    font-size: 1rem;
    padding: .5rem; }
    .card__item:not(:last-child) {
      border-bottom: 1px solid #eee; }
  .card .card__cta {
    margin: 8rem auto 5rem auto;
    text-align: center;
    text-transform: uppercase; }
  .card__price-box {
    font-size: 1.2rem;
    color: #fff; }
  .card__price_value {
    font-size: 3rem;
    font-weight: 200; }

.story {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 1rem 2.5rem rgba(119, 119, 119, 0.2);
  background: #f7f7f7;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 4rem;
  padding-left: 7rem;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    width: 10rem;
    height: 10rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem) skewX(12deg);
    position: relative; }
  .story__image {
    height: 100%;
    transform: translateX(-2rem) scale(1.15);
    transition: all .5s; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 120%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__image {
    transform: translateX(-2rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .2; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }
